@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Alegreya', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, hotpink, salmon);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

h1 {
    background-image: linear-gradient(salmon, hotpink, salmon);
    width: calc(100% - 12px);
    padding: 6px;
    margin: 18px 0 4px;
}

.not-hidden {
    max-height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
    padding: 0 12px 6px;
    transition: clip-path 2s, max-height 1.5s ease-out, opacity 2s, padding 2s, margin 2s;
}

.hidden {
    max-height: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    transition: clip-path 2s, max-height 1s, opacity 2s, border 2s;
}

#rubric {
    padding: 0 12px;
}

#rubric p:not(:last-of-type) {
    margin-top: 0;
    margin-bottom: 9px;
}

button:not(.hidden) {
    font-family: inherit;
    font-size: 18px;
    margin: 0;
    padding: 6px 12px;
}

#move-buttons-ul:not(.hidden) {
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    clip-path: circle();
    transform: rotateZ(-45deg);
    margin: 6px 0 12px;
    padding: 0;
    margin-left: 0;
}

#move-buttons-ul li {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0
}

.move-button {
    font-family: inherit;
    font-size: 18px;
    background-image: radial-gradient(lightgrey, grey);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Helvetica', sans-serif;
}

.move-button:not(.selected):hover {
    background-image: linear-gradient(to bottom right, rgb(233, 233, 233), rgb(155, 155, 155));
}

.move-button:disabled {
    visibility: hidden
}

.selected {
    background-image: radial-gradient(rgb(245, 245, 245), rgb(192, 192, 192));
}

.move-button span {
    display: inline-block;
    transform: rotateZ(45deg);
    width: 36px;
    line-height: 36px;
}

#board {
    position: relative;
    width: 340px;
    height: 340px;
    background-image: radial-gradient(circle at top, rgb(255, 251, 244), rgb(240, 210, 173));
    border: 3px solid #484848;
}

#food {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 20px;
    height: 20px;
    background-image: url(https://wpclipart.com/animals/M/mouse/mouse_2/mouse_T.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#snake-head {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at top, rgb(147, 170, 84), rgb(34, 65, 9));
    border-radius: 50%;
}

.snake-joint {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at top, rgb(184, 229, 147), rgb(96, 163, 42));
    border-radius: 50%;
}

#length-p {
    margin: 9px 0 0;
}


/* Footer and unordered lists */

ul {
    padding: 0
}

li {
    list-style-type: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, hotpink, salmon);
    z-index: 2;
}

a:link {
    color: darkblue;
}

a:focus {
    color: white
}